@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
}

header {
    width: 100%;
    padding: 25px;
    margin-bottom: 25px;
    text-align: center;
}

h1 {    
    background: linear-gradient(238.65deg, #29786E 34%, #F07120 55.5%, #1367AE 50%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;
    padding: 24px;
}

h3 {
    background-color: #faf8ea;
    display: inline-block;
    width: 500px;
    padding: 12px 24px;
    font-style: italic;
}

main {
    max-width: 500px;
    margin: 10px auto;
}

#a {
    padding: 120px;
    border: 1px solid #ddd;
    margin: 10px auto;
    background-color: rgb(128,128,128);
    border-radius: 5px;
}

ul, form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 75px));
    justify-content: space-around;
}

li {
    display: flex;
    list-style: none;
    padding: 12px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.red {
    background-color: red;
}

.green {
    background-color: rgb(0, 255, 0);
}

.blue {
    background-color: blue;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 24px;
    gap: 40px;
}

article {
    display: flex;
    justify-content: center;
    padding: 8px;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 4px 8px #eee; 
    background-color: #faf8ea; 
}

article p {
    padding: 4px;
    margin-right: 4px;
}

article img {
    height: 16px;
}

article img:hover {
    cursor: pointer;
}

figure img {
    position: absolute;
}

.tooltip {
    display: none;
    z-index: 3;
    color: white;
    background-color: #a59627;
    padding: 4px;
    font-size: 10px;
    position: relative;
    top: -16px;
    left: 16px;
    border-radius: 4px;
    cursor: pointer;
}

figure:hover .tooltip {
    display: inline-block;
}

footer {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
}