@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

header {
    background: url(images/hero-banner.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1072px;
    padding: 24px 64px;
}

main {
    background-color: #F8F9FF;
    text-align: center;
}

main p {
    color: #797979;
}

h1 {
    font-size: 48px;
}

nav img {
    padding: 8px 160px 56px;
}

.banner {  
    color: #FFFFFF;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
}

.banner p {
    font-weight: 400;
}

.title {
    font-weight: 500;
    font-size: 60px;
    letter-spacing: 0.2em;
}

.title span {
    font-weight: 700;
    font-size: 72px;
}

button {
    border: none;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    padding: 16px 48px;
    font-size: 18px;
    cursor: pointer;
    letter-spacing: 0.2em;
}

.btn-white, .orange {
    color: #FD5D0E;    
}

.btn-orange, .btn-indigo {
    color: #FFFFFF;
}

.btn-orange {
    background-color: #F95E24;
}

.btn-indigo {
    background-color: #3A0A69;
}

.banner button {
    margin-top: 400px;
    background: #FFFFFF;
}

.service, .client {
    padding: 24px;
}

hr {
    width: 80px;
    border: 2px solid #FD5D0E;
    background-color: #FD5F10;
    margin: 8px auto;
}

.service-content {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 200px;
    justify-content: center;
    margin: 80px auto;
}

.service-content aside {
    padding: 24px;
}

.service-content aside figure {
    padding: 48px;
}

.service-content aside h3 {
    margin-bottom: 24px;
}

.client, .service-content {
    margin-bottom: 200px;
}

.client article p {
    margin: 24px auto;
}

.work-content {
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    margin: 80px auto;
}

.work-contents {
    background-color: #FFFFFF;
    text-align: left;
    padding: 64px;
}

.work-contents h1, .work-contents p {
    margin: 64px auto;
}

.work-contents h1 {
    font-weight: 600;
    font-size: 44px;
}