.create {
    text-align: center;
    max-width: 720px;
    margin: 64px auto;
    padding-top: 64px;
}

.create label {
    text-align: left;
    display: block;
}

.create h2 {
    font-size: 20px;
    margin-bottom: 30px;
}

.create label,
.create button {
    margin: 10px 0;
}


.create input {
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    border-radius: 2px;
}

.create input,
.ck-editor__editable p,
.ck-editor__editable h2,
.ck-editor__editable h3,
.ck-editor__editable h4 {
    font-size: 12px;
    color: #2F4352;
}


.ck-content {
    height: 150px;
}

.create form .button {
    display: flex;
    justify-content: flex-end;
}

.create button {
    background: #131a20;
    color: #fff;
    border: 0;
    padding: 8px 32px;
    border-radius: 8px;
    cursor: pointer;
}

.create button:hover {
    background: #2F4352;
}